body {
    margin: 0 0 15px 0;
    overflow: scroll;
    _overflow: scroll;
}

input[type="submit"], input[type="reset"], input[type="button"] {
    cursor: pointer;
}

.form {
    padding: 0;
}

.form .group {
    margin-bottom: 10px;  
}

.form label {
    padding-left: 0;
}

.form textarea {
    width: 450px;
    height: 50px;
}

div.secondary-navigation .info {
    background: url(../images/information.png) no-repeat 10px 50%;
    color: #006dba;
    padding-left: 35px;
}

div.secondary-navigation .error {
    background: transparent url(../images/exclamation.png) no-repeat 10px 50%;
    border: 0;
    color: #cc0000;
    margin-bottom: 0;
    padding-left: 35px;
}

td {
    vertical-align: top;
}

td.user-data {
    padding-left: 0;
    width: 200px;
}

td.user-data-small {
    font-size: 0.9em;
}

td.user-data-small ul {
    margin-bottom: 0;
}

td.user-data-secondary {
    width: 125px;
}