body{
  margin-bottom:15px;
  overflow:scroll;
  _overflow:scroll;
}

div.secondary-navigation .info{
  background:url(../images/information.png) no-repeat 10px 50%;
  color:#006dba;
  padding-left:35px;
}

div.secondary-navigation .error{
  background:url(../images/exclamation.png) no-repeat 10px 50%;
  color:#cc0000;
  background-color:transparent;
  border-color:transparent;
  border: 0;
  margin-bottom: 0;
  padding-left:35px;
}