body{
  margin-bottom:15px;
  overflow:scroll;
  _overflow:scroll;
}

.secondary-navigation .info{
  color:#2798D6;
}

.secondary-navigation .error{
  color:red;
  background-color:transparent;
  border-color:transparent;
}