<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>TokenServlet</servlet-name>
        <servlet-class>com.googlecode.janrain4j.demo.TokenServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>com.googlecode.janrain4j.demo.MapServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UnmapServlet</servlet-name>
        <servlet-class>com.googlecode.janrain4j.demo.UnmapServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>com.googlecode.janrain4j.demo.DeleteAccountServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>SetStatusServlet</servlet-name>
        <servlet-class>com.googlecode.janrain4j.demo.SetStatusServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>com.googlecode.janrain4j.demo.SignOutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TokenServlet</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/map</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UnmapServlet</servlet-name>
        <url-pattern>/unmap</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/delete_account</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetStatusServlet</servlet-name>
        <url-pattern>/set_status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/sign_out</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    
</web-app>